<%include partials/header.ejs%>
	<div name='main' class="container">
		<!-- give the sidebar a set size of 3 -->
		<div name='sidebar' class="col-md-3">
			<p>TODO: put company logo here</p>
			<div class="list-group">
				<%var category = products[0].category;
				var catID = 0; %>
					<a href="/products/category/<%=catID%>" class="list-group-item"><%=category%></a>
				<%for(var i=0; i < products.length; i++){%>
				<%if(category != products[i].category){%>
					<%category = products[i].category%>
					<%catID = catID + 1;%>
					<a href="/products/category/<%=catID%>" class="list-group-item"><%=category%></a>
					<%}%>
				<%}%>
			</div>
		</div>
		<!-- give each product a set size of 9 -->
		<div class="col-md-9">
			<% var catID = 0;
			 var catName = products[0].category;
			for(var i=0; i < products.length; i++){
			if(catID == filter || filter == -1){ %>
			<div class="col-sm-4 col-lg-4 col-md-4"> <%# 12 / 4 = 3 per row %>
				<div class="thumbnail">
					<img src="images/noimage.png">
					<h4><a href="/products/<%=products[i].id%>" title="<%=products[i].name%>"><%= products[i].name.substring(0,20) %></a></h4>
					<p><%= products[i].getDescription().substring(0,20) %></p>
					<%if(user) {%>
						<a href="#" type="button" class="btn btn-primary btn-md">Add to Cart</a>
						<h4 class="pull-right">$<%= products[i].price %></h4>
					<%} else {%>
						<h4 class="pull-right">$<%= products[i].price %></h4>
						<p> Login to add to cart</p>
					<%}%>
				</div>
			</div>
			<%}else if(products[i].category != catName){
			catID = catID + 1;
			catName = products[i];
			}
			}%>
		</div>
	</div>
<%include partials/footer.ejs%>